<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên hệ</title>
    <style>
        .a {
            text-align: center;
        }
    </style>


</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=828285634429723&autoLogAppEvents=1" nonce="wTzmRcNF"></script>
    <div class="a">
        <h4> Cơ sở đào tạo tại TP. Hồ Chí Minh </h4><br>
        Cơ sở 1: 391A Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, TP. Hồ Chí Minh<br>

        Cơ sở 2: 778/B1 Nguyễn Kiệm, Phường 4, Quận Phú Nhuận, TP. Hồ Chí Minh<br>

        Cơ sở 3: Toà nhà Innovation, lô 24, Công viên phần mềm Quang Trung, Quận 12, Hồ Chí Minh<br>

        Điện thoại liên hệ<br>

        Phòng Tư vấn tuyển sinh:<br>

        Cơ sở 1 – (028) 35268799<br>

        Cơ sở 2: (028) 6252 3434<br>

        Liên hệ phòng Công tác sinh viên, Phòng Đào tạo, phòng Tài Vụ và phòng Quan hệ doanh nghiệp theo số hotline: (028)7308 8800<br>

        Email:  caodangfpt.hcm@fpt.edu.vn<br>

        <iframe src="https://www.google.com/maps/d/embed?mid=1kITB1KJnVJJW42hVOmv7D4rMjebyMcfV" width="640" height="480"></iframe> <br>
        <div class="fb-comments" data-href="https://2510tn.000webhostapp.com/asm/contact.html" data-width="" data-numposts="5"></div>

    </div>
</body>
</html>