<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    form {
        box-shadow: 0 0 2px gray;
        border-radius: 20px;
        width: 300px;
        min-width: 500px;
        padding: 15px;
        margin: 0 auto;
        transition: 0.6s ease-in-out;
        line-height: 30px;
    }

    input[type="text"]:focus {
        width: 180px;
        background-color: lightpink;
    }

    input[type="submit"]:hover {
        background-color: rgb(187, 54, 54);
        color: white;
    }

    .dangnhap {
        text-align: left;
    }

    .dangki {
        text-align: right;
    }
</style>
<body>
    <form asp-action="login">
        <div class="dangnhap">
            <h1><b>Đăng nhập tài khoản</b></h1>
            <div class="formgroup">
                <div>Email</div>
                <input type="text" class="from_control" placeholder="Email">
            </div>
            <div class="formgroup">
                <div>Mật khẩu</div>
                <input type="text" class="from_control" placeholder="Mật khẩu"><br>
            </div>
            <div></div>
        </div>
        <div class="formgroup">
            <input type="submit" value="Đăng nhập"><div>Quên mật khẩu?</div>
        </div>
        </div>
        <div class="dangki">
            <div class="formgroup">
                <input type="submit" value="Đăng kí">

            </div>
            </form>-->
    @* mẹ mày *@

<!--</body>
</html>-->