<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" connamet="width=device-width, initial-scale=1.0">
    <title>bai 2</title>
    <link rel="stylesheet" href="/css/NB.css">
</head>
<body>
    <h2><b>SẢN PHẨM MỚI</b></h2>
    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-max-97-shoe-EBZrb8.jpg" alt="">
            <div class="name">
                Nike Air Max 97<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-max-270-shoe-2V5C4p.jpg" alt="">
            <div class="name">
                Nike Air Max 270<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/epic-react-flyknit-2-running-shoe-ShRZnm.jpg" alt="">
            <div class="name">
                Nike Epic React<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/cortez-basic-older-shoe-8kwrrB.png" alt="">
            <div class="name">
                Nike Cortez<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-force-1-07-lv8-shoe-4qMJKS.jpg" alt="">
            <div class="name">
                Nike Air Force<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/chaussure-air-max-plus-iii-pour-Dxk1gd.jpg" alt="">
            <div class="name">
                Nike Air max Plus<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/chaussure-de-basketball-zoom-freak-2-nMs9rl.jpg" alt="">
            <div class="name">
                Nike Zoom freak 2<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/chaussure-air-max-2090-pour-9xrpXZ.jpg" alt="">
            <div class="name">
                Nike Air Max 2090<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>

            <img class="new-icons" src="/img/new.gif" width="50px" height="50px" alt="">
        </div>
    </div>

    <div class="banner2">
        <img src="img/banner3.jpg" height="239px" alt="">
    </div>

    <h2><b>SẢN PHẨM NỔI BẬT</b></h2>
    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-max-95-shoe-jbmQ47.jpg" alt="">
            <div class="name">
                Nike Air Max 95<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-force-1-07-lv8-shoe-4qMJKS.jpg" alt="">
            <div class="name">
                Nike Air Force 1<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-jordan-1-low-shoe-6Q1tFM.jpg" alt="">
            <div class="name">
                Nike Jodan 1 low<br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-monarch-iv-training-shoe-cc3XbD.jpg" alt="">
            <div class="name">
                Nike Air Monarch <br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>
        </div>
    </div>

    <div class="col-25">
        <div class="prod">
            <img class="image" src="/img/air-monarch-iv-training-shoe-cc3XbD.jpg" alt="">
            <div class="name">
                Nike Air Monarch <br><br>
                <b style="color: red;">700.000đ</b>       <strike style="color: gray;">800.000đ</strike>
            </div>
        </div>
    </div>

</body>
</html>