
@{
    ViewData["Title"] = "Home Page";
}
@model lab6_2.Models.ListMajor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container row p-0 m-0">
        <h2 class="" style="color:orange"><label asp-for="stringtittle"></label></h2>
        <br />
        <div class="col-12 border mt-3">
            @foreach (Majors item in @Model._list)
            {
                <div class="float-left ml-sm-3">
                    <div>
                        <img src="@item.img" asp-append-version="true" />
                    </div>
                    <div >
                        <label class="text-uppercase">@Html.DisplayFor(m=> item.name)</label>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>
