body {
}
body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    Position: relative;
    color: black;
}

    .container > header {
        border-bottom: 1px solid white;
        border-top: 20px solid white;
    }

.banner {
    background-image: url('img/slider_1.jpg');
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
}

.container > nav {
    line-height: 40px;
    background-color: orangered;
    color: white;
    text-align: center;
    font-variant: small-caps;
}

.container > article {
    min-height: 800px;
    width: 75%;
    background-color: white;
    float: left;
    border-top: 45px solid white;
    border-bottom: 10px solid white;
}

.container > aside {
    min-height: 1250px;
    width: 25%;
    background-color: rgb(248, 245, 245);
    float: left;
    border-top: 45px solid white;
}

.container > footer {
    border-top: 5px double orangered;
    line-height: 50px;
    background-color: lightcyan;
    font-variant: small-caps;
    clear: both;
    text-align: center;
}

.container > nav > a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

    .container > nav > a:hover {
        color: yellow;
        text-decoration: underline;
    }

iframe[name="page"] {
    width: 100%;
    /*min-height: 1300px;*/
}

.vmenu {
    padding: 0px;
    margin: 5px;
    list-style-type: none;
    border-radius: 3px;
    box-shadow: 0 0 2px white;
    background-color: white;
}

.cc li {
    background: url('img/menu.jpg') no-repeat 10px center;
    background-size: 19px;
    display: block;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    color: white;
    background-color: rgb(241, 50, 50);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}

.cc1 li {
    background: url('img/hot-icon.gif') no-repeat 10px center;
    background-size: 20px;
    display: block;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    color: white;
    background-color: rgb(241, 50, 50);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}

.cc2 li {
    display: block;
    border-bottom: 1px dotted white;
    border-top: 1px dotted white;
    color: white;
    background-color: rgb(241, 50, 50);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
}

.cc3 {
    padding: 0px;
    margin: 5px;
    list-style-type: none;
    border-radius: 3px;
    box-shadow: 0 0 2px white;
    background-color: white;
}

    .cc3 a {
        display: block;
        border-bottom: 1px dotted grey;
        color: rgb(187, 54, 54);
        font-variant: unset;
        font-size: 15px;
        text-decoration: none;
        padding: 8px 20px 20px 30px;
    }

.nv1 {
    background: url('img/icon-hotline.gif') no-repeat 10px center;
    background-size: 15px;
}

.nv2 {
    background: url('img/icon-hotline.gif') no-repeat 10px center;
    background-size: 15px;
}

.nv3 {
    background: url('img/item_3_image.png') no-repeat 10px center;
    background-size: 15px;
}

.vmenu a {
    background: url('img/uploads_2_8_5_1_28510639_-redarrowright_1_orig.gif') no-repeat 10px center;
    background-size: 20px;
    display: block;
    border-bottom: 1px dotted grey;
    color: rgb(187, 54, 54);
    font-variant: unset;
    font-size: larger;
    text-decoration: none;
    padding: 8px 20px 20px 30px;
}

    .vmenu a:hover {
        border-bottom: 1px dotted grey;
        background-color: rgba(182, 31, 31, 0.726);
        color: white;
        font-weight: bold;
    }